backend-services/.idea
backend-services/.idea
backend-services/.idea
backend-services/src/cache/target
db-data
r-services/.idea
backend-services/data
backend-services/jwt_auth/target
backend-services/rusty_cache/target
backend-services/rusty-blob/target
game-server/.idea
r-services/application/target
r-services/blob/target
r-services/broker/target
r-services/cache/target
r-services/domain/target
r-services/infrastructure/target
r-services/persistence/target
r-services/target
itemsParser
arreatSummitParser/.idea
