services:
    postgres:
        image: postgres:latest
        container_name: felDb
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin
            POSTGRES_DB: felDb
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - "5432:5432"
volumes:
    postgres_data: