[package]
name = "application"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
async-trait = "0.1.89"
domain = { path = "../domain" }
uuid = { version = "1.19.0", features = ["v4"] }
tokio = "1.48.0"